/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./fonts/Amatic_SC/amatic-sc-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/Amatic_SC/amatic-sc-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./fonts/Amatic_SC/amatic-sc-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/Amatic_SC/amatic-sc-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind base;
@tailwind components;

/* BASE STYLES */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:hover,
*:focus {
  transition: all .35s ease;
}

html {
  scroll-padding-top: 1rem;
}

html, body {
  @apply font-sans m-0;
}

body:not(#pdf) {
  background-color: #eeeee4;
  background: url('./img/bg-static.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  padding-bottom: 145px;
}

main {
  @apply relative w-full h-auto;
}

#nail {
  position: absolute;
}

.hands {
  @apply fixed bottom-0 left-0 z-50;
  width: 200px;
}

@media(min-width: 640px) {
  body:not(#pdf) {
    padding-bottom: 0px;
  }
}

@media(min-width: 1024px) {
  body:not(#pdf) {
    background: url('./img/bg-static-dsktp.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
  }
  #sidebar {
    width: 155px;
  }
  #sidebar-nav {
    position: fixed;
  }
  #nail {
    position: fixed;
  }
  .hands {
    @apply block fixed bottom-0 left-0 pl-12;
    left: -50px;
    right: 70%;
    max-width: 500px;
    width: auto;
  }
}

@media(min-width: 1280px) {
  .hands {
    left: 0;
    right: 68%;
  }
}

@media(min-width: 1441px) {
  .hands {
    left: 0;
  }
}

audio {
  @apply block w-full rounded-md mx-0 my-4 z-0;
}

/* CONTENT STYLES */

.toc {
  @apply leading-relaxed;
}

.toc a {
  @apply text-gray-700;
}

.toc a:hover {
  @apply text-gray-900 underline;
}

.content {
  @apply leading-relaxed break-words;
  /* word-break: break-word; */
}

.content h1 {
  @apply text-xl text-gray-900 font-bold mb-2;
}

.content p,
.content ol,
.content ul {
  @apply mb-4;
}

.content ol,
.content ul {
  @apply pl-8;
}

.content ul {
  @apply list-disc;
}

.content img {
  @apply block max-w-full;
}

.content a,
footer a {
  @apply underline text-gray-800;
}

.content a:hover,
footer a:hover {
  @apply no-underline;
}

@tailwind utilities;